.buttons-wrapper {
  display: flex;
}

.acct-btn-wrapper {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.acct-btn-wrapper > a {
  cursor: pointer;
  font-size: 17px;
  transition: all .3s ease-in-out;
}

.acct-btn-wrapper > a:hover {
    font-size: 18px;
    color: wheat;

}

.acct-favorite-btn {
  color: white;
  text-decoration: none;
}

.acct-btn-wrapper .cart-icon-div {
  cursor: pointer;
}

.cart-icon-div:hover {
  color: wheat;
}

