.buttons-wrapper {
  display: flex;
}

.acct-btn-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.acct-btn-wrapper > a {
  cursor: pointer;
  font-size: 17px;
}

.acct-favorite-btn {
  color: white;
  text-decoration: none;
}

.acct-btn-wrapper .cart-icon-div {
  cursor: pointer;
}

