.form-info-wrapper > form {
  width: 600px;
  margin: 50px auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: saddlebrown;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 18px;
}

.form-info-wrapper > form > input {width: 95%;}
.form-info-wrapper > form > select, .expire-wrapper > select {
  height: 30px;
  margin-bottom: 15px;
  outline-color: saddlebrown;
  border-radius: 20px;
  border-color: sandybrown;
}

.expire-wrapper > select {
  margin: 20px;
}

.total-wrapper {
  display: flex;
  width: 600px;
  margin: auto;
  justify-content: space-around;
  color: white;
  background-color: saddlebrown;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}