.cart-wrapper {
  position: absolute;
  right: 0px;
  top: 40px;
  bottom: 0px;
  width: 320px;
  background-color: whitesmoke;
  transform: translate(100%,0)scale(1); 
  display: none;
  padding-left: 10px;
  box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px;
  height: 100%;
  overflow: hidden;
} 

.open {
  transform: translate(0%,0)scale(1);
  display: block;
}

.fa-x {
  font-size: 20px;
  cursor: pointer;
}

.subtotal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-wrapper > button {
  display: block;
  margin: auto;
  border: none;
  background-color: saddlebrown;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}