.product-holder-wrapper {
  width: 300px;
  background-color: lightgoldenrodyellow;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  padding-bottom: 20px;
  color: black;
}

.product-holder-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

.img-div > img {
  width: 300px;
  height: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.name-div {
  margin-left: 20px;
}

.desc-div > p{
  text-align: center;
  
}